<h2 class="screen-align">Createseverity</h2>
<div id="template-irpn" class="row">
    <div id="template-i138" class="cell">
        <label id="template-ijzo" class="label">Label</label>
        <input id="template-i4h6" [(ngModel)]="severity.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-i5e8" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-i9me" class="cell">
        <label id="template-izkb" class="label">Label</label>
        <input id="template-i901" [(ngModel)]="severity.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>