<h2 class="screen-align">Createservicetype</h2>
<div id="template-ioa4" class="row">
    <div id="template-igc9" class="cell">
        <label id="template-iago" class="label">Name</label>
        <input id="template-io03" [(ngModel)]="servicetypes.name"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
        <button id="template-iz7q" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-in43" class="cell">
        <label id="template-iwvf" class="label">Description</label>
        <input id="template-i3ni" [(ngModel)]="servicetypes.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>