<h2 class="screen-align">Createassignee</h2>
<div id="template-ijpe" class="row">
    <div id="template-iqnn" class="cell">
        <label id="template-imwj" class="label">Label</label>
        <input id="template-ia7x" class="input form-control" />
        <button id="template-i5ff" class="button btn btn-primary">Send</button>
    </div>
    <div id="template-iu5q" class="cell">
        <label id="template-i4u6" class="label">Label</label>
        <input id="template-ix43" class="input form-control" />
    </div>
</div>